@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 70px);
  color: white;
  background-image: url("ModelX.jpg");
  background-size: cover;
  background-position: center center;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  width: 1000px;
}

.content {
  margin: auto;
  font-size: 2rem;
  max-width: 100%;
}

.content h1 {
  color: #00c2ff;
  margin-bottom: 0;
}

/* navigation bar styling start */

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

/* navigation bar styling end */

.selected {
  font-weight: bold;
}

.highlight {
  background-color: #00c2ff;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

/* footer styling  start */

footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

footer strong {
  color: #00c2ff;
}

footer p {
  margin: 0;
}

/* footer styling  end */

/*Responsive Web Design START*/
@media screen and (max-width: 700px) {
  .content {
    font-size: 1.4rem;
    margin: 2rem auto 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav li:not(:last-child) {
    margin-bottom: 1rem;
  }

  nav .highlight {
    display: none;
  }

  footer ul {
    flex-direction: column;
    justify-content: center;
  }

  footer li {
    margin: 1rem;
    text-align: center;
  }
}

/*Responsive Web Design END*/
