@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 70px);
  color: white;
  background-image: url("ModelX.jpg");
  background-size: cover;
  background-position: center center;
}

/* navigation bar styling start */

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

/* navigation bar styling end */

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  width: 1000px;
}

.highlight {
  background-color: #00c2ff;
}

.selected {
  font-weight: bold;
}

.content {
  margin: auto;
  font-size: 2rem;
  max-width: 100%;
}

/* footer styling  start */

footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

footer strong {
  color: #00c2ff;
}

footer p {
  margin: 0;
}

/* footer styling  end */
